@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .imgOne{ 
    width: 450px;
    filter: grayscale(100%);
  }
  .imgThree{
    width: 470px;
    filter: grayscale(100%);
  }
  .imgFour{
    width: 400px;
    filter: grayscale(100%);
  }
  .imgFive{
    width: 700px;
    filter: grayscale(100%);
  }
}